<h1>{{title}}</h1>

<div *ngIf="ss">
    
  <h2>{{ss.name}} details!</h2>
  <div><label>id: </label>{{ss.code}}</div>
  <div>
      <form class="example-form">
          <md-form-field class="example-full-width">
    <label>name: </label>
   <input [(ngModel)]="ss.name" placeholder="" aria-label="Number" mdInput [formControl]="myControl" [mdAutocomplete]="auto">
   <md-autocomplete #auto="mdAutocomplete">
      <md-option *ngFor="let stock of stocks" [value]="stock">
          {{ stock }}
        </md-option>
   </md-autocomplete>
  </md-form-field>
  </form>
  </div>
  <button (click)="goBack()">Back</button>

</div>


